@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body{
    width: auto;
    height: 100%;
    background-color: #000010;
    font-family: 'Afacad Flux';
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
    z-index: 0;
}

.logo img {
    position: static;
    margin-top: 5px;
    max-width: 180px;
    height: auto;
    z-index: 0;
}

.logo img:hover {
    z-index: 1;
    max-width: 200px;
    height: auto;
}
.heading h1 {
    font-size: 24px;
    margin: 0;
}

.refresh button {
    margin-right: 25px;
    padding: 5px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Afacad Flux';    
}

.refresh button:hover {
    background-color: rgb(39, 39, 39);
}

.bottom{
    margin-left: 150px;
    margin-right: 150px;
    padding: 50px;
    color: white;
    /* display: flex;
    flex-direction: column; */
}

.api1box, .api2box, .api3box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-color: #f8f9fa;
    align-items: center;
    justify-content: center;
}

/* new codes */
/* 



/* first method  */



/* h1 span {
    position: relative;
    display: inline;
    visibility: visible;
}


h1:hover span:nth-child(even) {

    animation: text 1s 1; 
}

@keyframes text{
    0%{   
        visibility: hidden;
        letter-spacing: -0.35em;   
    }
    100%{
        letter-spacing: 0;
        visibility: visible;
    }
} */




/* second method */

h1{
    width: 100%;
}

h1 span:nth-child(even) {
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom:20px;
    animation: text 3s 1;
}

@keyframes text{
    0%{
        color: white;
        font-weight: 100;
    }
    30%{
        font-weight: 350;
    }
    85%{
        letter-spacing: 5px;
        font-weight: 500;
    }
}

.api1button button{
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: 'Afacad Flux'; 
}

.api2button button{
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: 'Afacad Flux'; 
}